server:
  port: 8081

spring:
  application:
    name: api-gateway

  config:
    import: "optional:configserver:http://localhost:9101"

  devtools:
    restart:
      enabled: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:9102/eureka